/* Splash.css */
.splash-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    height: 30vh;
}

.splash-text-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.splash-greeting-text1 {
    font-size: 3rem;
    color: #333;
    margin: 60px;
}

.splash-greeting-text2 {
    font-size: 3rem;
    color: #e60023;
    margin: 0;
    margin-top: -20px;
}

.splash-images {
    margin-top: -70px;
    width: 100%;

}

.splash-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: auto;
}

.splash-image-faded {
    transform: scaleY(-1);
    border-radius: 10px;
}

.aboutMe {
    /* border: 1px solid red; */
    background-color: #f2f8af;
    width: 990px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;

}

.socials-icons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.createdBy {
    padding-left: 100px;
    color: #ff4057;
}

.createdBy h1 {
    font-size: 60px;
    font-weight: 400;
}

.socials-icons img {
    border-radius: 21px;
}

.linkedin {
    display: flex;
    padding-right: 100px;

}

.linkedin-img {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.img1 {
    margin-left: 10px;
}

.img2 {
    margin-left: 100px;
}

.github {
    display: flex;
    column-gap: 20px;
    padding-left: 100px;
    align-items: center;
}

.portfolio {
    display: flex;
    column-gap: 50px;
    align-items: center;
    padding-left: 20px;
}
