.add-pin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.board-scroll-container {
    max-height: 350px; 
    overflow-y: auto;
}

.board-names {
    flex: 0 0 calc(33.33% - 20px);
    padding: 10px;
}

.board-names.active {
    border-color: #ff4057;
}

.board-display-container {
    display: flex;
    flex-direction: column;
}

#add-board-img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

#add-board-img-name {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.add-pin-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.add-create-board-button button {
    all: unset;
    padding: 10px 20px;
    background-color: #ff4057;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.add-create-board-button button:hover {
    background-color: #e60023;
}

.add-pin-button {
    padding-top: 20px;
}

.add-pin-button button {
    all: unset;
    padding: 10px 20px;
    background-color: #ff4057;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.add-pin-button button:hover {
    background-color: #e60023;
}
