.edit-pin-container {
    /* width: 100%; */
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    box-shadow: 0px 2px 10px rgba(0.2, 0.2, 0.2, 0.2);
    padding: 20px;
}

.edit-pin-img-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.edit-pin-img img{
   width: 200px;
   border-radius: 30px;
}

.edit-pin-form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.edit-pin-form input{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    line-height: normal;
    outline: none;
    border-bottom: 1px solid black;
    width: 250px;
    word-wrap: break-word;
}

.edit-pin-form textarea {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    line-height: normal;
    outline: none;
    border-bottom: 1px solid black;
    width: 250px;
    word-wrap: break-word;
}

.edit-pin-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-pin-buttons button{
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #ff4057;
    background-color: #ff4057;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.edit-pin-buttons button:hover{
    background-color: #e60023;
}
