.signup-modal {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 40px 30px;
    border-radius: 15px;
    background-color: #282634;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 90vh; /* Set a maximum height to fit the viewport */
  }

  .signup-modal h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #DCDCDC;
  }

  .signup-modal form {
    text-align: left;
  }

  .signup-modal label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #DCDCDC;
  }

  .signup-modal input,
  .signup-modal textarea,
  .signup-modal select {
    width: 94%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
    font-size: 14px;
  }

  .signup-modal input[type="file"] {
    padding: 8px 5px;
  }

  .input-button {
    background-color: white;
  }

  .input-button button {

  }

  .signup-modal button {
    width: 100%;
    padding: 12px;
    background-color: #ff4057;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .signup-modal button:hover {
    background-color: #c4001d;
  }

  .signup-modal ul {
    list-style: none;
    color: #e60023;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .signup-modal ul li {
    margin-bottom: 6px;
  }

  #already-member {
    color: #DCDCDC;

  }

  #already-member button{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    outline: none;
    color:#ff4057;
  }

  #already-member button:hover {
    color:#DCDCDC;
  }
