/* CommentActionsDropdown.css */
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 10%;
    z-index: 900;
    left: 30px;
    top: -30px;
  }

  .delete-edit-comment-buttons {
    display: flex;
  }

  .dropdown-menu button {
    all: unset;
    padding: 5px 10px;
    background-color: #ff4057;
    color: white;
    border-radius: 50px;
    cursor: pointer;
  }

  .dropdown-menu button:hover {
    all: unset;
    padding: 10px 20px;
    background-color: #e0354a;
    color: white;
    border-radius: 50px;
    cursor: pointer;
  }

  .dropdown.open .dropdown-menu {
    display: block;
  }
