
/* Main containers */
.edit-delete-button-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 60px;

}

.edit-delete-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0.2, 0.2, 0.2, 0.2);
    padding: 20px;
}

/* Pin Image */
.edit-delete-button-container img {
    max-width: 80%;
    height: auto;
    border-radius: 30px;
}

/* Pin Details */
.pin-details {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 500px;
}


/* Button to edit and delete */
.oval-button {
    background-color: #DCDCDC;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.oval-button:hover {
    background-color: #ff4057;
}

.edit-save-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-website-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.icon-link {
    font-size: 30px;
}

.icon-link:hover {
    color: #e60023;
}

.save-to-board-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
}

.save-to-board-button button {
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #ff4057;
    background-color: #ff4057;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.save-to-board-button button:hover,
.save-to-board-button button:focus {
    background-color: #e60023;
}

.pin-owner-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.pin-info-container h1 {
    word-wrap: break-word;
}

.pin-info-container p {
    word-wrap: break-word;
}

.pin-owner-container img {
    border-radius: 50%;
}

.pin-user-firstname {
    font-weight: bold;
}

.comment-container h3{
    font-weight: 2000;
}

.like-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding-right: 50px;
}

.user-pic-comment {
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.user-pic-comment img{
    border-radius: 50%;
}

.comment-input {
    border-radius: 50px;
    height: 30px;
    width: 350px;
    padding-left: 20px;
}

.edit-delete-container {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
    left: -40px;
    row-gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0.2, 0.2, 0.2, 0.2);
}

/* Reset the default button styles within the .edit-delete-button class */
.delete-button button {
    all: unset;
    padding: 10px 20px;
    background-color: #ff4057;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.delete-pin-button button {
    all: unset;
    padding: 10px 20px;
    background-color: #ff4057;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

/* Apply the specified button styling */
.edit-delete-button button.edit-delete-button {
    /* Your specific button styling here */
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #ff4057;
    background-color: #ff4057;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style the buttons on hover */
.edit-delete-button button.edit-delete-button:hover {
    background-color: #e0354a; /* Adjust color for hover effect */
}
